/*
 * Title:   Responsive Style File
 * Author:  http://themeforest.net/user/Kite-Themes
 */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Table of contents]

1. Retina logo
2. Styles for devices(<=1199px)
3. Styles for devices(<=991px )
4. Styles for devices(>=768px and <= 991px)
5. Styles for devices(<=767px )
6. Styles for devices(>=481px and <= 767px)
7. Styles for devices(<=480px )
8. Styles for devices(<=320px )
*/
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
------------------------------------------------------------- */
/* -------------------------------------------------------------
 * Title:   SCSS VARIABLES
 * Author:  http://themeforest.net/user/Kite-Themes
------------------------------------------------------------- */
/* 1. Retina logo */
@media only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .site-branding .site-logo.retina-logo-wrapper .retina-logo {
    display: block; }

  .site-branding .site-logo.retina-logo-wrapper .default-logo {
    display: none; } }
@media (max-width: 1490px) {
  #main-slideshow.post-slider-big .slick-slide {
    margin: 0; }

  .content-header-1 .header-layout1 .main-nav-socials {
    margin-right: 15px; }
  .content-header-1 .header-layout1 #main-nav-tool {
    position: static; }
  .content-header-1 .header-layout1 .site-branding {
    position: static; } }
@media (min-width: 1200px) {
  .col-lg-clear {
    clear: left; }

  .no-sidebar .blog-posts-medium .post-item-thumb {
    width: 58.3333%; }
  .no-sidebar .blog-posts-medium .post-item-info {
    width: 41.6667%; }

  .sidebar-left .main-sidebar {
    padding-right: 40px; }
  .sidebar-right .main-sidebar {
    padding-left: 40px; } }
/* 2. Styles for devices(<=1199px) */
@media (max-width: 1199px) {
  .header-container {
    display: none; }

  #header-content-mobile {
    display: block; }

  #header-content-mobile {
    display: block; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-clear {
    clear: left; } }
@media (max-width: 991px) {
  #footer-bottom.footer-bottom-2 .widget_kt_socials {
    text-align: center; }

  #footer-bottom.footer-bottom-2 .widget_kt_socials {
    margin-top: 0; }

  .blog-posts-slick .article-post h3 {
    font-size: 35px;
    line-height: normal; }
  .blog-posts-slick .article-post-content {
    left: 30px;
    right: 30px; }
  .blog-posts-slick .article-post-inner {
    padding: 40px; }

  .row-eq-height {
    display: block; }

  article.post-item-content.first-featured .entry-title {
    padding-left: 15px;
    padding-right: 15px; }
    article.post-item-content.first-featured .entry-title a::before {
      left: 0; }

  .no-sidebar .blog-posts-medium .entry-title {
    padding-left: 15px;
    padding-right: 15px; }
    .no-sidebar .blog-posts-medium .entry-title a::before {
      left: 0; }

  #main-slideshow.postslider-graybg {
    padding: 30px 0; }

  .postslider-graybg .blog-posts-slick .slick-arrow.slick-next,
  .postslider-slider .blog-posts-slick .slick-arrow.slick-next {
    right: 0; }
  .postslider-graybg .blog-posts-slick .slick-arrow.slick-prev,
  .postslider-slider .blog-posts-slick .slick-arrow.slick-prev {
    left: 0; }

  .postslider-slider .blog-posts-slick .article-post-content,
  .postslider-graybg .blog-posts-slick .article-post-content {
    left: 30px;
    right: 30px; }

  .post-single.post-layout-6 .entry-header,
  .post-single.post-layout-6 .entry-content,
  .post-single.post-layout-6 .entry-footer,
  .post-single.post-layout-6 .entry-header,
  .post-single.post-layout-6 .entry-content,
  .post-single.post-layout-6 .entry-footer,
  .post-single.post-layout-6 .entry-header,
  .post-single.post-layout-6 .entry-content,
  .post-single.post-layout-6 .entry-footer {
    margin-left: 0;
    margin-right: 0; }

  .post-layout-6.post-single-addons {
    margin-left: 0;
    margin-right: 0; }

  .promo-area .widget-container {
    width: 100%; }
    .promo-area .widget-container img {
      width: 100%; } }
@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-clear {
    clear: left; }

  #footer ul.kt_posts_widget li a.entry-thumb {
    display: none; }
  #footer ul.kt_posts_widget li .article-attr {
    padding-left: 0; } }
@media (max-width: 767px) {
  .col-xs-clear {
    clear: left; }

  #instagram-footer .null-instagram-feed .instagram-pics li {
    width: 33.33%; }

  .blog-posts-medium article.post-item-content .entry-title {
    margin-top: 10px; }

  article.post-item-content.post-item-featured.format-audio .entry-title, article.post-item-content.post-item-featured.format-standard .entry-title, article.post-item-content.post-item-featured.format-video .entry-title, article.post-item-content.post-item-featured.format-gallery .entry-title,
  article.post-item-content.post-item-featured.format-audio .entry-title,
  article.post-item-content.post-item-featured.format-standard .entry-title,
  article.post-item-content.post-item-featured.format-video .entry-title,
  article.post-item-content.post-item-featured.format-gallery .entry-title,
  article.post-item-content.post-item-featured.format-audio .entry-title,
  article.post-item-content.post-item-featured.format-standard .entry-title,
  article.post-item-content.post-item-featured.format-video .entry-title,
  article.post-item-content.post-item-featured.format-gallery .entry-title,
  article.post-item-content.post-item-featured.format-audio .entry-title,
  article.post-item-content.post-item-featured.format-standard .entry-title,
  article.post-item-content.post-item-featured.format-video .entry-title,
  article.post-item-content.post-item-featured.format-gallery .entry-title {
    padding: 25px 15px; }
    article.post-item-content.post-item-featured.format-audio .entry-title a:before, article.post-item-content.post-item-featured.format-standard .entry-title a:before, article.post-item-content.post-item-featured.format-video .entry-title a:before, article.post-item-content.post-item-featured.format-gallery .entry-title a:before,
    article.post-item-content.post-item-featured.format-audio .entry-title a:before,
    article.post-item-content.post-item-featured.format-standard .entry-title a:before,
    article.post-item-content.post-item-featured.format-video .entry-title a:before,
    article.post-item-content.post-item-featured.format-gallery .entry-title a:before,
    article.post-item-content.post-item-featured.format-audio .entry-title a:before,
    article.post-item-content.post-item-featured.format-standard .entry-title a:before,
    article.post-item-content.post-item-featured.format-video .entry-title a:before,
    article.post-item-content.post-item-featured.format-gallery .entry-title a:before,
    article.post-item-content.post-item-featured.format-audio .entry-title a:before,
    article.post-item-content.post-item-featured.format-standard .entry-title a:before,
    article.post-item-content.post-item-featured.format-video .entry-title a:before,
    article.post-item-content.post-item-featured.format-gallery .entry-title a:before {
      left: 0; }

  .no-sidebar .blog-posts-medium .entry-title {
    padding: 25px 15px; }

  .blog-posts-list article.post-item-content:not(.post-item-featured) h3.entry-title {
    margin: -50px 10px 25px;
    padding: 50px 20px 15px; }

  #commentform .comment_field-column {
    width: 100%; } }
@media (max-width: 600px) {
  body.opened-nav-animate.admin-bar #wpadminbar {
    margin-top: -46px; }

  .blog-posts-slick .article-post h3 {
    font-size: 18px;
    line-height: normal;
    margin: 0; }
  .blog-posts-slick .article-post-content {
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-width: 5px; }
  .blog-posts-slick .article-post-inner {
    padding: 10px; } }
@media (max-width: 480px) {
  .post-item-meta {
    padding-right: 15px; }

  .post-item-meta .post-item-metaright > span, .post-item-meta .post-item-metaright > div {
    margin-left: 15px; }

  #footer-bottom.footer-bottom-2 .widget_kt_socials .social-text ul li span {
    display: none; }

  article.post-item-content.first-featured .entry-title {
    padding: 20px 15px;
    font-size: 20px; }

  article.post-item-content .post-info-featured {
    top: 10px;
    right: 10px;
    left: 10px;
    border-width: 5px; }
    article.post-item-content .post-info-featured .post-info-featured-inner {
      padding: 10px;
      max-width: 100%; }
      article.post-item-content .post-info-featured .post-info-featured-inner .entry-title-featured {
        font-size: 16px;
        line-height: normal; }

  .author-info .author-avatar {
    position: static;
    text-align: center;
    margin-bottom: 10px; }
  .author-info .author-description {
    padding-left: 0;
    text-align: center; }

  #footer-bottom .social-text ul li a {
    font-size: 14px; }
    #footer-bottom .social-text ul li a span {
      display: none; }

  .blog-posts-list article.post-item-content:not(.post-item-featured) .post-item-content {
    margin: 0; } }

/*# sourceMappingURL=queries.css.map */
